# Dependências
vendor/

# Logs e arquivos temporários
*.log
*.tmp
*.temp

# Configurações locais
config/local.php

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Composer
composer.lock